@import '_settings.scss';

.board-app {
  height: $navbar-board-height;
  align-items: center;
  background-color: $board-bg-color;
  padding-left: $gap;

  button.boardbar-btn {
    color: #fff;
    outline: none;
    border: none;
    background-color: #4a94bf;
    padding: 8px;
    border-radius: 3px;
    font-size: 20px;
    display: inline-block;
    margin: 3px;

    .boardbar-btn-text {
      margin-left: $gap;
      font-weight: bold;
      font-size: 18px;
    }

    &.btn-red {
      background-color: #f02849;
    }
  }

  .circle-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .boardbar-left {
    float: left;
    display: flex;

    .cut-btn {
      font-size: 25px;
      opacity: 0.5;
      color: #fff;
      margin: 10px;
      &::after {
        content: '|';
      }
    }

    .boardbar-list-image {
      margin-right: 10px;
      display: flex;

      .circle-btn {
        color: #fff;
        outline: none;
        border: none;
        background-color: #4a94bf;
        border-radius: 50%;
        font-size: 20px;
        width: 40px;
        height: 40px;
        display: inline-block;
      }
    }
  }

  .boardbar-right {
    float: right;
  }
}
