@import '_settings.scss';

.navbar-app {
  height: $navbar-app-height;
  align-items: center;
  background-color: $appbar-bg-color;
  color: #fff;

  .navbar-left {
    float: left;
    display: flex;

    .navbar-input {
      background-color: #4a94bf;
      border-radius: 3px;
      margin: 3px;
      position: relative;

      input[type='text'] {
        width: 100%;
        border: none;
        outline: none;
        background-color: inherit;
        padding: 8px 8px;

        &::placeholder {
          color: #fff;
          font-size: 20px;
        }
      }

      span.navbar-btn {
        position: absolute;
        right: 0;
        padding: 9px 8px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

  .navbar-right {
    float: right;
    display: flex;
  }
}
