@import '_settings.scss';

.navbar-app {
  height: $navbar-app-height;
  background-color: $appbar-bg-color;
  color: #fff;

  button.navbar-btn {
    color: #fff;
    outline: none;
    border: none;
    background-color: #4a94bf;
    padding: 8px;
    border-radius: 3px;
    font-size: 20px;
    margin: 3px;

    .navbar-btn-text {
      margin-left: $gap;
      font-weight: bold;
      font-size: 18px;
    }

    &.btn-red {
      background-color: #f02849;
    }
  }

  .circle-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 3px;
    border: none;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .navbar-left {
    float: left;
    display: flex;

    .navbar-input {
      background-color: #4a94bf;
      border-radius: 3px;
      margin: 3px;
      position: relative;

      input[type='text'] {
        width: 100%;
        border: none;
        outline: none;
        background-color: inherit;
        padding: 8px 8px;

        &::placeholder {
          color: #fff;
          font-size: 20px;
        }
      }

      span.navbar-btn {
        position: absolute;
        right: 0;
        padding: 9px 8px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

  .navbar-right {
    float: right;
    display: flex;
  }
}