@import 'settings.scss';

.board-content {
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;

  // CSS scrollbar
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    // theo chiều ngang
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg;
    border-radius: 8px;
  }

  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
}
