@import '_settings.scss';

// Normalize CSS
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-thairyo-master {
  height: 100vh; // ăn hết toàn bộ màn hình (không quan tâm đến kích thước)
  overflow: hidden;
  background-color: $board-bg-color;
}
