@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,200&display=swap');

// Height: appbar + boardbar + boardcontent = 99vh, 1vh for scrollbar
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

// Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';

$gap: 10px;

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;
$card-border-radius: 5px;

// Colors
$app-main-text-color: #333;
$board-bg-color: #0079bf;
$appbar-bg-color: #005f95;
$column-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, 0.24);
$alert-danger: #ee5253;
